%h2 Редактирование профиля
.row
  .col-md-6.buffer-top
    = render 'form'
    .buffer-both
      - unless current_user.provider?
        = link_to 'Регистрационные данные', edit_user_registration_path
