development:
  omniauth_facebook_id: 123456789012345
  omniauth_facebook_secret: aovy3b1iz8h8oj3l3s0j7bq1t4hjftaq
production:
  secret_key_base: n2ujr14ybsnxgi0i5k2cy7r5ztvx2iwk73b04jnsm2zcbmrub7mhik95cjp7r2rao89d690gwon5wch3o8ygafwvm5xfr5ibh1o0690gwon5wch3690gwon5wch332dw
  omniauth_facebook_id: 123456789012345
  omniauth_facebook_secret: aovy3b1iz8h8oj3l3s0j7bq1t4hjftaq


